* {
    background-color: rgb(243, 237, 229);
}

.photo-text {
    margin-left: 15%;
}

.hello {
    padding-top: 15% ;
}

.hello::first-line {
    font-family: 'Shadows Into Light';
    font-size : 200px;
}

img[alt="my-photo"] {
    float: left;
    width: 800px;
    height: 989px;
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    img[alt="my-photo"] {
        float: left;
        width: 350px;
        height: 433px;
    }
    .hello::first-line {
        font-family: 'Shadows Into Light';
        font-size : 80px;
    }
    .intro {
        font-family: "Amatic SC";
        font-size : 20px;
        margin: 0 0 0 0;
    }
}

.intro {
    font-family: "Amatic SC";
    font-size : 50px;
    margin: 0 0 0 0;
}

.topnav {
    display: flex;   
    justify-content: flex-end; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    background-color: #333;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: black;
}

.topnav a.active {
    background-color: black;
}